Module 11-Bria

In [1]:
# Import the required libraries and dependencies
import pandas as pd
import datetime as dt
from pathlib import Path
from prophet import Prophet
import matplotlib.pyplot as plt
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

             ds           y
0    2014-01-02  154.989548
1    2014-01-03  154.964035
2    2014-01-06  154.515045
3    2014-01-07  155.464020
4    2014-01-08  155.497864
...         ...         ...
2300 2023-02-22  398.540008
2301 2023-02-23  400.660004
2302 2023-02-24  396.380005
2303 2023-02-27  397.730011
2304 2023-02-28  396.260010

[2305 rows x 2 columns]

In [31]:
# read_dataframe function and read spy.csv from Resources folder
def read_dataframe_function(file_path):
    df = pd.read_csv(Path(file_path), index_col="Date", parse_dates=True, infer_datetime_format=True)
    df= df["Close"]
    df = df.reset_index()
    df.columns= ["ds","y"]
    train = df[df['ds'] < '1/3/23']
    test = df[df['ds']>='1/3/23']
    #display(df.tail())
    return df
read_dataframe_function("./Resources/spy.csv")

             ds           y
0    2014-01-02  154.989548
1    2014-01-03  154.964035
2    2014-01-06  154.515045
3    2014-01-07  155.464020
4    2014-01-08  155.497864
...         ...         ...
2300 2023-02-22  398.540008
2301 2023-02-23  400.660004
2302 2023-02-24  396.380005
2303 2023-02-27  397.730011
2304 2023-02-28  396.260010

[2305 rows x 2 columns]

In [44]:
df = pd.read_csv(Path("./Resources/spy.csv"))
df.head()

,Date,Open,High,Low,Close,Volume,Day,Weekday,Week,Month,Year
0,1/2/14,155.887692,155.963959,154.616730,154.989548,119636900,2,3,1,1,2014
1,1/3/14,155.252116,155.565629,154.743740,154.964035,81390600,3,4,1,1,2014
2,1/6/14,155.472507,155.531812,154.277800,154.515045,108028200,6,0,2,1,2014
3,1/7/14,155.133570,155.726683,155.014948,155.464020,86144200,7,1,2,1,2014
4,1/8/14,155.438546,155.760527,154.964056,155.497864,96582300,8,2,2,1,2014

In [16]:
# make new future dataframe function
# 65-age  or ask people what age do you want to retire 
def future_dataframe(age):
    spy_df = read_dataframe_function("./Resources/spy.csv")
    model = Prophet()
    model.fit(spy_df)
    model_df = model.make_future_dataframe(periods=365*(65-age), freq="D")
    final_model_df = model.predict(model_df)
    #plot = model.plot_components(final_model_df)
    final_model_df = final_model_df[["yhat_lower","yhat_upper","yhat","ds"]]
    final_model_df = final_model_df.set_index('ds')
    #final_model_df = final_model_df.rename(columns = {'yhat_upper': 'best case',
    #                                          'yhat_lower':'worst case', 
    #                                          'yhat':'most likely case'})
   
    return final_model_df

In [4]:
def main_funtion(age , investment_amount):
    final_df = future_dataframe(age)
   # prediction_df = future_dataframe(spy_df)
   # best_investment_return= calculate_returns(prediction_df,age)
    actual_spy_df = read_dataframe_function("./Resources/spy.csv")
    current_spy_value = round((actual_spy_df["y"].iloc[-1]),2)
    print(f"current spy value is {current_spy_value}")
    spy_value_on_retirement = round((final_df["yhat_upper"].iloc[-1]),2)
    print(f"spy value on retirement is {spy_value_on_retirement}")
    times_gain_in_returns = round((spy_value_on_retirement/current_spy_value),2)
    print(f" times gain in returns  would be : {times_gain_in_returns}")
    total_value_of_investment = round((times_gain_in_returns*investment_amount),2)
    print(f" current investment of {investment_amount} would become : {total_value_of_investment} on the day of retirement")
    #print(return_on_investment)
   # print(f"final values is {((return_on_investment-current_spy_value)/current_spy_value)*100}")
    return total_value_of_investment

In [31]:
main_funtion(42,10000)
# if, else if
#br.main fucntion(42,10000) medium
#eg.main_function(42,10000) high
#ed.main_function(42,10000) low

INFO:prophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:finish chain 1

current spy value is 396.26
spy value on retirement is 4727.66
 times gain in returns  would be : 11.93
 current investment of 10000 would become : 119300.0 on the day of retirement

119300.0

In [ ]:
# function that takes two parameters (age , investment_amount) and returns a list of ["yhat_lower","yhat","yhat_upper"]
# you will call read_dataframe function 
# then you will call close_data_column function
# then you call future dataframe function
# then you will call forecase and future prediction function
# then make a list of ["yhat_lower","yhat","yhat_upper"] and return

# def main_funtion(age, investment_amount):
    # invetsment amount: cumulative amount*initial amount
    # age: retirement - age, or set the retirement age
    # return print("if you retire at this age you will get this return")
    #choose different types of investments
    # risk level determines what portfolio to use when using the read dataframe function

In [6]:
# spy_df = read_dataframe_function()
# spy_df

In [ ]:
# prediction_df = future_dataframe(spy_df)
# prediction_df
# def calculate_returns (prediction_df,age):
#     starting_value = prediction_df.iloc[-(65-age)*365:,:]
#     print(starting_value)

   
#     display(final_model_df.head())
#     display(final_model_df.tail())

# checking fraud

support vector machine: model-fit-predict

Gaussian naive bayes model.
import GNB
model =